/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Styles */
body {
  background-color: #f4f4f4;
  font-family: "Libre Baskerville";
  margin: 0;
  padding: 0; /* Espaçamento interno */
}
header {
  background-color: rgba(255, 255, 255, 0.4);
  color: #333;
  text-align: center;
  padding: 20px;
  border: 1px solid #3333333d; /* Borda */
  box-shadow: 5px 5px 15px rgba(50, 50, 50, 0.4);
  border-radius: 15px; /* Bordas arredondadas */
}
h1 {
  font-family: "Playfair Display", cursive;
  font-size: 50px;
  color: #333;
  margin-bottom: auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
h2 {
  font-family: "Playfair Display", cursive;
  margin-bottom: auto;
  font-size: 25px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
  text-align: center !important;
}
h3 {
  font-family: "Playfair Display", cursive;
  margin-bottom: auto;
  font-size: 20px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  text-align: center;
}
p {
  font-family: "Libre Baskerville", cursive;
  color: #333;
}
li {
  font-family: "Libre Baskerville", cursive;
  color: #333;
  font-size: 20px;
}
.text-container {
  border: 1px solid #33333348;
  padding: 20px;
  margin: 10px; /* Espaçamento externo */
  background-color: #ffffffe5;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
}
